
/* Add a black background color to the top navigation */
.topnav {
  background-color: #34495E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FDFEFE  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FDFEFE ;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#34495E ;
  color:#FDFEFE   ;
}
body{
  margin: 0;
  font-family:'Julius Sans One';
}
h1{
  text-align: center;
  font-size: 60px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 45%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 45%;
  padding-left: 10px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 10px;
}
img{
  width:100%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
h2{
  text-align: center;
  font-size: 40px;
}
p{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
  color: Black;
  padding: 10px;
}
/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
}
