body{
  margin: 0;
  background: url("https://images.all-free-download.com/images/graphiclarge/bamboo_leaves_background_green_repeating_handdrawn_icons_6832193.jpg")
}


.topnav {
  background-color: #34495E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FDFEFE  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FDFEFE ;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#34495E ;
  color:#FDFEFE   ;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
h1{
  text-align: center;
  font-size: 80px !important;
}
.image{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  padding: 10px;
  text-align: center;
}
