body{
  margin: 0;
}


.topnav {
  background-color: #34495E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FDFEFE  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FDFEFE ;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#34495E ;
  color:#FDFEFE   ;
}
.instructions{
  margin-left: 10px;
  padding-left: 30px;
}
.footer {
  padding: 10px;
  text-align: center;
}
